.header{
    position: fixed;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 60px;
    float: left;
    background: white;
}
.header::after{
    clear: both;
}
*{
    margin: 0px;
    padding: 0px;
}
#header-menu{
    position: fixed;
    width: 220px;
    height: 100%;
    background: #151719;
    left: -220px;
    transition: all 300ms linear;
}
#header-menu.active {
    left: 0px;
}
#header-menu ul li{
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
#header-menu .toggle-btn{
    position: absolute;
    left: 310px;
    top: 20px;
}
#header-menu .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #2013DC;
    margin: 3px;
}
#logo{
   position: absolute;
   top: 18px;
   left: 140px;
   color: #2013DC;
}
#logo a{color: #2013DC;}
#search-bar{
    position: absolute;
    top: 6px;
    left: 360px;
}
#search-bar input{
    width: 470px;
    height: 42px;
    font-size: 20px;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
}
#search-bar button{
    position: absolute;
    top: 0px;
    left: 468px;
    height: 42px;
    width: 40px;
    font-size: 23px;
    color: white;
    margin-top: 5px;
    background: #2013DC;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#login{
    position: absolute;
    top: 17px;
    left: 960px;
    font-size: 20px;
    font-weight: bold;
}
#login a{
    color: rgb(244, 243, 250);
    text-decoration: none;
}
#login .btn{background-color: #2013DC;}
#notification{
    position: absolute;
    top: 13px;
    left: 1090px;
    font-size: 30px;
}
#notification a{
    color: #d4b93f;
}
#wishlist{
    position: absolute;
    top: 13px;
    left: 1150px;
    font-size: 30px;
}
#wishlist a{
    color: red;
}
.cart{
    position: absolute;
    top: 13px;
    left: 1207px;
    font-size: 30px;
}
.cart a{
    color: rgb(248, 248, 248);
}
#navbar{
    position: absolute;
    top: 65px;
    left: 90px;
    width: 85%;
    height: 60px;
    background: #2013DC;
    border-radius: 10px;
}
#slidebar{
    position: absolute;
    top: 150px;
    left: 90px;
    width: 85%;
    height: 240px;
    box-shadow: 0px 1px 4px #141414;
    border-radius: 5px;
}
.slides{
    height: 100%;
    width: 100%;
}
.column{
    margin-top: 410px;
    border: 1px solid red;
}
.column::after{
    clear: both;
}
.column a{color: #756f6f;}
.column ul li{float: left;}
.column2{
    margin-top: 300px;
}
.column2::after{
    clear: both;
}
.column2 a{color: #756f6f;}
.column3{
    margin-top: 300px;
}
.column3::after{
    clear: both;
}
.column3 a{color: #756f6f;}
.card1{
    position: relative;
    height: 240px;
    width: 400px;
    background: white;
    border: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.card1 img{
    height: 65%;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
}
.card1 .details{
    margin: 7px;
    font-family: Tahoma, Geneva, sans-serif;
}
.card2{
    position: absolute;
    left: 470px;
    height: 240px;
    width: 400px;
    background: white;
    border: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.card2 img{
    height: 65%;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
}
.card2 .details{
    margin: 7px;
    font-family: Tahoma, Geneva, sans-serif;
}
.card3{
    position: absolute;
    left: 890px;
    height: 240px;
    width: 400px;
    background: white;
    border: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.card3 img{
    height: 65%;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
}
.card3 .details{
    margin: 7px;
    font-family: Tahoma, Geneva, sans-serif;
}
.footer{
    position: relative;
    top: 1000px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background: #2013DC;
}
#navbar .fashion img{
    height: 45px;
    width: 55px;
}
#navbar .fashion{
    position: absolute;
    top: 10px;
    left: 90px;
}
#navbar .fashion i{
    position: relative;
    top: -10px;
    color: white;

}
#navbar .electronics{
    position: absolute;
    top: 10px;
    left: 215px;
}
#navbar .electronics img{
    height: 45px;
    width: 75px;
    text-align: center;
}
#navbar .kids{
    position: absolute;
    top: 10px;
    left: 370px;
}
#navbar .kids img{
    height: 43px;
    width: 34px;
}
#navbar .study{
    position: absolute;
    top: 11px;
    left: 490px;
}
#navbar .study img{
    height: 40px;
    width: 42px;
}
#navbar .home{
    position: absolute;
    top: 10px;
    left: 610px;
}
#navbar .home img{
    height: 40px;
    width: 42px;
}
#navbar .gym{
    position: absolute;
    top: 7px;
    left: 735px;
}
#navbar .gym img{
    height: 42px;
    width: 40px;
}
#navbar .sports{
    position: absolute;
    top: 10px;
    left: 860px;
}
#navbar .sports img{
    height: 42px;
    width: 45px;
}
#navbar .audio{
    position: absolute;
    top: 10px;
    left: 995px;
}
#navbar .audio img{
    height: 40px;
    width: 42px;
}